**/__pycache__
**/parser.out
**/parsetab.py
/.idea/
/.vscode/
/build/
/venv/
dependencies/logs/docker/mpw_precheck.build.txt
checks/be_checks/default.cvcrc
checks/be_checks/LICENSE
checks/be_checks/set_lvs_env.py
