/build/
/venv/
/.idea/
/.vscode/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/__pycache__
__pycache__/
dependencies/logs/docker/open_mpw_prechecker.build.txt
clone.sh
process_file
untar.sh
worker.py
